/* General */

*{
    margin: 0;
    font-family: Open Sans;
}
:root{
    --blue: #27697C;
}
a:hover{
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
header img{
    max-width: 200px;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
    padding: 0;
}
header ul a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
}
#menu{
    display: none;
}

/* Main */

    /* Section 1 */
        .s1{
            background-image: url(../img/bg-section1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: 50%;
            padding: 212px;
        }
        .s1 div{
            max-width: 600px;
            margin: auto;
            display: grid;
            justify-items: center;
            gap: 30px;
            background-color: rgba(39, 105, 124, 0.89);
            text-align: center;
            padding: 20px;
        }
        .s1 h1{
            color: #fff;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 46px;
            line-height: 46px;
            text-transform: uppercase;
        }
        .s1 p{
            font-size: 18px;
            font-weight: 600;
            line-height: 20.7px;
            color: #fff;
        }
        .s1 a{
            font-family: Roboto;
            color: var(--blue);
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #fff;
            padding: 10px 20px;
            line-height: 18.4px;
            &:hover{
                color: #fff;
                background-color: var(--blue);
                transition: all 0.3s ease-in-out;
            }
        }


/* Footer */
footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--blue);
    color: #fff;
    line-height: 18.4px;
    letter-spacing: 0;
    font-weight: 400;
}
footer a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 18.4px;
    font-weight: 400;
}