*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --color: #27697C;
}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
header img{
    max-width: 200px;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
    padding: 0;
}
header ul a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
}
#menu{
    display: none;
}