/* General */

*{
    margin: 0;
    font-family: Open Sans;
}
:root{
    --blue: #27697C;
}
a:hover{
    color: var(--blue);
    transition: all 0.3s ease-in-out;
}
.ptitre{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
    color: var(--blue);
}
.gtitre{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 34.5px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.btnblue{
         text-decoration: none;
            width: fit-content;
            line-height: 18.5px;
            margin-bottom: 40px;
            position: relative;
            left: 60px;
            border: solid 1px var(--blue);
            color: #fff;
            background-color: var(--blue);
            padding: 12px 24px;
            &:hover{
                color: var(--blue);
                background-color: #fff;
                transition: all 0.3s ease-in-out;
                transform: scale(1.1);
            }
}
/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
header img{
    max-width: 200px;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 100px;
    padding: 0;
}
header ul a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
}
#menu{
    display: none;
}

/* Main */

    /* Section 1 */
        .s1{
            background-image: url(../img/bg-section1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: 50%;
            padding: 212px;
        }
        .s1 div{
            max-width: 600px;
            margin: auto;
            display: grid;
            justify-items: center;
            gap: 30px;
            background-color: rgba(39, 105, 124, 0.89);
            text-align: center;
            padding: 20px;
        }
        .s1 h1{
            color: #fff;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 46px;
            line-height: 46px;
            text-transform: uppercase;
        }
        .s1 p{
            font-size: 18px;
            font-weight: 600;
            line-height: 20.7px;
            color: #fff;
        }
        .s1 a{
            font-family: Roboto;
            color: var(--blue);
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #fff;
            padding: 10px 20px;
            line-height: 18.4px;
            &:hover{
                color: #fff;
                background-color: var(--blue);
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
    /* Section 2 */
        #presentation{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1440px;
            margin: 60px auto;
            gap: 70px;
        }
        #presentation div{
            gap: 20px;
            display: flex;
        }
        #presentation span{
            width: 40px;
            border: none;
            border-top: solid 2px var(--blue);
            overflow: visible;
            position: relative;
            top: 11px;
        }
        #presentation p{
            max-width: 496px;
            line-height: 32px;
            margin-bottom: 16px;
        }
        #presentation article{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
        }
        #presentation img{
            object-fit: cover;
            width: 720px;
            height: 656px;
        }
        #info{
            max-width: 1440px;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-bottom: 60px;
        }
        #info article{
            display: grid;
            justify-items: center;
            
        }
        #info i{
            font-size: 50px;
            color: var(--blue);
        }

    /* Section 3 */
        .s3{
            background-color: var(--blue);
            padding: 106px 0;
        }
        .s3 div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1440px;
            margin: auto;
            gap: 80px;
        }
        .s3 h2{
            color: #fff;
        }
        .s3 h3{
            color: #fff;
            max-width: 620px;
        }
        .s3 p{
            color: #fff;
            max-width: 500px;
            line-height: 32px;
            padding-bottom: 16px;
        }
        .s3 a{
            color: var(--blue);
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #fff;
            padding: 10px 20px;
            line-height: 18.4px;
            &:hover{
                color: #fff;
                background-color: var(--blue);
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
        #gallery{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px 20px;
        }
        #gallery img{
            object-fit: cover;
            width: 340px;
            height: 226px;
            &:last-child{
                width: 700px;
                grid-column: 1/3;
            }
        }


/* Footer */
footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--blue);
    color: #fff;
    line-height: 18.4px;
    letter-spacing: 0;
    font-weight: 400;
}
footer a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 18.4px;
    font-weight: 400;
}