/* General */

*{
    margin: 0;
    font-family: Open Sans;
    scroll-behavior: smooth;
}
:root{
    --blue: #27697C;
}
#upscroll{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #fff;
    font-size: 22px;
    padding-bottom: 6px;
}
.ptitre{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0;
    color: var(--blue);
}
.gtitre{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 34.5px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.btnblue{
         text-decoration: none;
            width: fit-content;
            line-height: 18.5px;
            margin-bottom: 40px;
            position: relative;
            left: 60px;
            border: solid 1px var(--blue);
            color: #fff;
            background-color: var(--blue);
            padding: 12px 24px;
            &:hover{
                color: var(--blue);
                background-color: #fff;
                transition: all 0.3s ease-in-out;
                transform: scale(1.1);
            }
}
/* Header */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
header img{
    max-width: 200px;
}
header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* gap: 100px; */
    padding: 0;
}
header ul a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    border: solid 1px #fff;
    padding: 52px;
    &:hover{
        color: #fff;
        background-color: var(--blue);
        border-color: var(--blue);
    }
}
#menu{
    display: none;
}

/* Main */

    /* Section 1 */
        .s1{
            background-image: url(../img/bg-section1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: 50%;
            height: 700px;
            position: relative;
        }
        .s1 div{
            max-width: 600px;
            margin: auto;
            display: grid;
            justify-items: center;
            gap: 30px;
            background-color: rgba(39, 105, 124, 0.89);
            text-align: center;
            padding: 20px;
            position: absolute;
            left: 32%;
            top: 30%;
        }
        .s1 h1{
            color: #fff;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 46px;
            line-height: 46px;
            text-transform: uppercase;
        }
        .s1 p{
            font-size: 18px;
            font-weight: 600;
            line-height: 20.7px;
            color: #fff;
        }
        .s1 a{
            font-family: Roboto;
            color: var(--blue);
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #fff;
            padding: 10px 20px;
            line-height: 18.4px;
            &:hover{
                color: #fff;
                background-color: var(--blue);
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
    /* Section 2 */
        #presentation{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1440px;
            margin: 60px auto;
            gap: 70px;
        }
        #presentation div{
            gap: 20px;
            display: flex;
        }
        #presentation span{
            width: 40px;
            border: none;
            border-top: solid 2px var(--blue);
            overflow: visible;
            position: relative;
            top: 11px;
        }
        #presentation p{
            max-width: 496px;
            line-height: 32px;
            margin-bottom: 16px;
        }
        #presentation article{
            display: flex;
            flex-direction: column;
            padding-top: 50px;
        }
        #presentation img{
            object-fit: cover;
            width: 720px;
            height: 656px;
        }
        #info{
            max-width: 1440px;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 60px;
            gap: 20px;
        }
        #info article{
            display: grid;
            justify-items: center;
            
        }
        #info i{
            font-size: 50px;
            color: var(--blue);
            padding-bottom: 14px;
        }
        #info p{
            font-weight: 600;
        }

    /* Section 3 */
        .s3{
            background-color: var(--blue);
            padding: 106px 0;
        }
        .s3 div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1440px;
            margin: auto;
            gap: 80px;
        }
        .s3 h2{
            color: #fff;
        }
        .s3 h3{
            color: #fff;
            max-width: 620px;
        }
        .s3 p{
            color: #fff;
            max-width: 500px;
            line-height: 32px;
            padding-bottom: 16px;
        }
        .s3 a{
            color: var(--blue);
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #fff;
            padding: 10px 20px;
            line-height: 18.4px;
            &:hover{
                color: #fff;
                background-color: var(--blue);
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }
        #gallery{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px 20px;
        }
        #gallery img{
            object-fit: cover;
            width: 340px;
            height: 226px;
            &:last-child{
                width: 700px;
                grid-column: 1/3;
            }
        }

    /* Section 4 */
        .s4{
            display: grid;
            justify-items: center;
            margin: 70px 0;
        }
        .s4 div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px;
            padding-bottom: 50px;
        }
        .s4 div article{
            max-width: 408px;
        }
        .s4 img{
            max-width: 390px;
            max-height: 290px;
            object-fit: cover;
        }
        .s4 div a{
            display: grid;
            gap: 20px;
            justify-items: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
        }
        .s4>.btnblue{
            position: static;
        }
    /* Section 5 */
        .s5{
            background-color: #859399;
            padding: 50px 0;
        }
        .s5 div{
            max-width: 700px;
            margin: auto;
        }
        .s5 h2, .s5 h3{
            color: #fff;
        }
        .s5 form{
            max-width: 680px;
            display: grid;
            gap: 16px;
        }
        .s5 article{
            max-width: 700px;
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
        }
        .s5 input, .s5 textarea{
            width: -webkit-fill-available;
            resize: none;
            padding: 10px;
            outline: none;
        }
        #check{
            display: block;
            color: #fff;
        }
        #checkbox{
            width: fit-content;
        }
        #subtn{
            width: fit-content;
            color: var(--blue);
            padding: 10px 28px;
            &:hover{
                transform: scale(1.1);
                background-color: var(--blue);
                color: #fff;
                transition: all 0.3s ease-in-out;
                outline: none;
            }
        }


/* Footer */
footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--blue);
    color: #fff;
    line-height: 18.4px;
    letter-spacing: 0;
    font-weight: 400;
}
footer a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 18.4px;
    font-weight: 400;
}

@media screen and (max-width : 1024px) {
    header nav{
        display: none;
    }
    #menu{
        display: block;
    }
    .s1 div{
        left: 8%;
    }
    #presentation{
        grid-template-columns: none;
    }
    .s3 div{
        grid-template-columns: none;
    }
    #gallery{
        gap: 20px 0;
    }
    #gallery img:last-child{
        width: 720px;
    }
    .s4 div{
        gap: 50px;
    }
    .s4 img{
        width: 90%;
    }
}
@media screen and (max-width : 767px) {
    .s1 div{
        padding: 10px;
        left: 0;
    }
    .s1 h1{
        font-size: 40px;
    }
    #presentation h3{
        font-size: 25px;
        width: min-content;
    }
    #presentation div{
        gap: 10px;
    }
    #presentation p{
        width: 250px;
    }
    #presentation a{
        position: static;
    }
    #presentation img{
        width: 100%;
    }
    #gallery{
        display: none;
    }
    .s3 a{
        font-size: 14px;
    }
    .s5 article{
        gap: 16px;
    }
}